.container > a {
  position: absolute;
  margin-top: 5vh;
  margin: 0.67em auto;
  left: 0;
  right: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url(https://img1.wsimg.com/isteam/getty/2252459686/:/rs=w:1920,m);
  background-repeat: no-repeat;
  background-size: cover;
}

.side-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: clamp(300px, 25vw, 500px);
  flex-shrink: 0;
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.side-container > a {
  font-size: 2em;
}

.side-container > a:focus {
  outline: none;
}

@media (min-width: 1701px) {
  .side-container > a {
    position: absolute;
    // top: 5vh;
    font-size: 3em;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .side-container {
    width: 100%;
  }
}
